{% extends 'base.html.twig' %}

	{% block title %}
		{{ title }}
	{% endblock %}
	
	{% block currentPageTitle %}
	<div class="nwl-container">
		<h2 class="nwl-title">Porfitez des offres promotionnelles de nos partenaires</h2>
		{# formulaire d'inscription à la newsletter #}
		<div class="nwl-form">
			{{ form_start(form, { 'action' : path('inscription-newsletter') }) }}
			<div class="email">
				{{ form_row(form.email) }}
			</div>
			<div class="submit">
				{{ form_row(form.save) }}
			</div>
			{# {{ form_widget(form) }} #}
			{{ form_end(form) }}
		</div>
	</div>	
	{% endblock %}

	{% block nav %}
		<nav class="">
			<div class="nav nav-tabs container" id="nav-tab" role="tablist">
				<a class="nav-item nav-link active" id="nav-search-by-name-tab" data-toggle="tab" href="#nav-search-by-name" role="tab" aria-controls="nav-search-by-name" aria-selected="true">Recherche par nom</a>
				<a class="nav-item nav-link" id="nav-search-by-family-note-tab" data-toggle="tab" href="#nav-search-by-family-note" role="tab" aria-controls="nav-search-by-family-note" aria-selected="false">Recherche par famille de notes</a>
				<a class="nav-item nav-link" id="nav-search-by-note-tab" data-toggle="tab" href="#nav-search-by-note" role="tab" aria-controls="nav-search-by-note" aria-selected="false">Recherche par notes</a>
			</div>
		</nav>
	{% endblock %}

	{% block main %}
	<div class="container home-container">
		<div class="tab-content container" id="nav-tabContent">
			<div class="tab-pane fade show active" id="nav-search-by-name" role="tabpanel" aria-labelledby="nav-search-by-name-tab">
				<div id="search-by-name">
					<form>
						<div class="form-group">
							<label class="col-form-label" for="brand">Nom de la marque</label>
							<input class="form-control" id="brand" type="text" placeholder="nom de la marque">
						</div>
						<div class="form-group">
							<label class="col-form-label" for="product">Nom du parfum</label>
							<input class="form-control" id="product" type="text" placeholder="nom du parfum">
						</div>
						<div class="form-group row">
							<div class="col-sm-10">
								<button type="submit" class="btn btn-primary" id="submit">Rechercher</button>
							</div>
						</div>
					</form>
					<div id="result-container"></div>
				</div>
			</div>
			<div class="tab-pane fade" id="nav-search-by-family-note" role="tabpanel" aria-labelledby="nav-search-by-family-note-tab">
				<div id="search-by-family-note">
					<form>
						<div class="form-group">
							<label class="col-form-label" for="brand">Nom de la marque</label>
							<input class="form-control" id="brand" type="text" placeholder="nom de la marque">
						</div>
						<div class="form-group">
							<label class="col-form-label" for="family-note">Famille de notes</label>
							<input class="form-control" id="family-note" type="text" placeholder="famille de notes">
						</div>
						<div class="form-group row">
							<div class="col-sm-10">
								<button type="submit" class="btn btn-primary" id="submit">Rechercher</button>
							</div>
						</div>
					</form>
					<div id="result-container"></div>
				</div>
			</div>
			<div class="tab-pane fade" id="nav-search-by-note" role="tabpanel" aria-labelledby="nav-search-by-note-tab">
				<div id="search-by-note">
					<form>
						<div class="form-group">
							<label class="col-form-label" for="brand">Nom de la marque</label>
							<input class="form-control" id="brand" type="text" placeholder="nom de la marque">
						</div>
						<div class="form-group">
							<label class="col-form-label" for="note">Notes</label>
							<input class="form-control" id="note" type="text" placeholder="exemple: citron, musk, rose">
						</div>
						<div class="form-group row">
							<div class="col-sm-10">
								<button type="submit" class="btn btn-primary" id="submit">Rechercher</button>
							</div>
						</div>
					</form>
					<div id="result-container"></div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}