{% extends 'base.html.twig' %}

{% block title %}Brand index{% endblock %}

{% block main %}
<div class="container brand-container">
    <div class="btn-create">
        <h1>Liste des marques</h1>
        <a class="btn btn-primary" href="{{ path('brand_new') }}">Ajouter une marque</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for brand in brands %}
            <tr>
                <td>{{ brand.id }}</td>
                <td>{{ brand.name }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('brand_show', {'id': brand.id}) }}">Afficher</a>
                    <a class="btn btn-warning" href="{{ path('brand_edit', {'id': brand.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
