{% extends 'base.html.twig' %}
{% block title %}Dashboard{% endblock %}
       

        {% block currentPageTitle %}
            <h1 class="dashboard-tittle">
                {{ title }}
            </h1>
            <p class="warning-message">
                {{ warning }}
                <span class="admin-email"> {{ admin }} </span>
            </p>
        {% endblock %}

    {% block nav %}
        <div>
            <ul class="nav nav-admin justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('brand_index') }}">Les marques</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('product_index') }}">Les parfums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Les parfums à ajouter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Gestion des abonnés</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Statistiques</a>
                </li>
                {% if is_granted('ROLE_SUPER_ADMIN')  %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user-index') }}">Gestion des utilisateur</a>
                    </li>
                {% endif %}
            </ul>
        </div>    
    {% endblock %}
    
