<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}In My Fragrance{% endblock %}</title>
        <!-- twiter bootstrap cdn -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {# autocomplete css #}
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset('build/app.css') }}">

    </head>
    <body>
        {% block body %}
        <header>
            {% block header %}
                {% block topBar %}
                    {% if app.user %}
                        <div class="top-bar">
                            <div class="top-bar-nav">
                                <a title="retour sur le dashboard" href="{{ path('admin-index')}}">Dashboard</a>
                                <a title="retour sur le dashboard" href="{{ path('home')}}">Voir le site</a>                  
                            </div>
                            <div class="top-bar-user">
                                <a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a>
                                <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}
                <a href="{{ path('home') }}">
                    <div class="logo">
                        <h1><span class="i">I</span>n<span class="m">M</span>y<span class="f">F</span>ragrance</h1>
                        <p class="slogan">Trouver le parfum qui vous convient</p>
                        <small class="com">.com</small>
                    </div>
                </a>
                {% block currentPageTitle %}{% endblock %}
                {% block nav %}{% endblock %}
                {% block flashBag %}
                    {% if app.request.hasPreviousSession %}
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="flash-{{ type }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                {% endblock %}
            {% endblock %}
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer class="footer container">
            {% block footer %}
                <nav class="footer-nav">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Comment ça marche?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Nous contacter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" title="connexion admin" href="{{ path('fos_user_security_login') }}">In side</a>
                        </li>
                    </ul> 
                </nav>
                <p>Copyright <a href="#">essentielDev</a></p>
            {% endblock %}
        </footer>
        {% endblock %}

        <!--cdn jquery + popper.js + bootstrap.min.js -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {# cdn  jquery ui #}
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{{ asset('/build/app.js') }}"></script>
        <script src="{{ asset('/build/runtime.js') }}"></script>
    </body>
    
</html>
