{% trans_default_domain 'FOSUserBundle' %}

<div class="login-container container">
    {% if is_granted(expression('is_anonymous()')) %}
    {% if error %}
        <div>Identifiant et/ou mot de passe incorrect</div>
    {% endif %}
    
    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        <div class="form-group">
            <label for="username">Nom d'utilisation</label>
            <input type="text" class="form-control" id="username" name="_username" aria-describedby="emailHelp" placeholder="Entrer votre email ou votre identifiant" value="{{ last_username }}" required="required" autocomplete="username" />
        </div>

        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" id="password" name="_password" aria-describedby="emailHelp" placeholder="Entrer votre mot de passe" required="required" autocomplete="current-password" />
        </div>    

        <div class="form-group">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">Se souvenir de moi</label>
        </div>

        <div class="submit">
            <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="Connexion" /> 
        </div>
        
        <p>
            <a href="{{ path('fos_user_resetting_request') }}" >Mot de passe oublié</a>
        </p>
    </form>

    {% else %}
        <p>Vous êtes déja connecté en tant que: <span>{{ app.user.username }}</span></p> 
    {% endif %}
</div>




